In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
tweetDf = pd.read_csv('../Data/tweets/elon_archive_cleaned.csv')
btcDf = pd.read_csv('../Data/crypto/bitcoinAll_1HR.csv')
dogeDf = pd.read_csv('../Data/crypto/dogecoinAll_1HR.csv')

In [3]:
tweetDf

,Unnamed: 0,date,time,username,name,tweet,month,year,day,hour,minute,second,tweet_length,crypto_related
0,0,2021-11-14,17:48:31,elonmusk,Elon Musk,@ConsumerReports üëç,11,2021,14,17,48,31,18,False
1,1,2021-11-14,15:35:40,elonmusk,Elon Musk,@WholeMarsBlog Exactly,11,2021,14,15,35,40,22,False
2,2,2021-11-14,15:33:04,elonmusk,Elon Musk,@realTylerZed @SenSanders ü§£,11,2021,14,15,33,4,27,False
3,3,2021-11-14,09:24:02,elonmusk,Elon Musk,"@SenSanders Want me to sell more stock, Bernie...",11,2021,14,9,24,2,67,False
4,4,2021-11-14,08:39:18,elonmusk,Elon Musk,"@fermatslibrary Soon, that list will grow much...",11,2021,14,8,39,18,86,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11922,11924,2011-12-03,02:22:07,elonmusk,Elon Musk,That was a total non sequitur btw,12,2011,3,2,22,7,33,False
11923,11925,2011-12-03,02:20:28,elonmusk,Elon Musk,"Great Voltaire quote, arguably better than Twa...",12,2011,3,2,20,28,136,False
11924,11926,2011-12-01,04:29:04,elonmusk,Elon Musk,I made the volume on the Model S http://t.co/...,12,2011,1,4,29,4,118,False
11925,11927,2011-12-01,03:55:11,elonmusk,Elon Musk,Went to Iceland on Sat to ride bumper cars on ...,12,2011,1,3,55,11,141,False
11926,11928,2010-06-04,13:31:57,elonmusk,Elon Musk,"Please ignore prior tweets, as that was someon...",6,2010,4,13,31,57,92,False

In [4]:
splitDate = btcDf[["time_period_start"]]
splitDate = np.array(splitDate)
date = []
time = []
for i in splitDate:
    datei = i[0]
    datei = datei.split("T")
    date.append(datei[0])
    time.append(datei[1])
    

btcDf["Date"] = date
data = btcDf["Date"] 
month = []
day = []
year = []
for i in data:
    datei = i.split("-")
    year.append(int(datei[0]))
    month.append(int(datei[1]))
    day.append(int(datei[2]))
    
hour = []
splitHour = btcDf[["time_period_start"]]









btcDf["year"] = year
btcDf["month"] = month
btcDf["day"] = day
btcDf = btcDf.drop(columns=["time_period_start", "time_period_end","time_open","time_close"])

btcDf

,time_period_start,rate_open,rate_high,rate_low,rate_close,Date,year,month,day
0,2016-01-01T00:00:00.0000000Z,432.039880,432.079724,430.174245,430.831630,2016-01-01,2016,1,1
1,2016-01-01T01:00:00.0000000Z,430.821040,431.181942,429.670276,430.378803,2016-01-01,2016,1,1
2,2016-01-01T02:00:00.0000000Z,430.383656,431.237817,430.325129,430.608821,2016-01-01,2016,1,1
3,2016-01-01T03:00:00.0000000Z,430.594263,432.903554,430.330866,432.903554,2016-01-01,2016,1,1
4,2016-01-01T04:00:00.0000000Z,433.020607,436.372214,432.770797,435.602850,2016-01-01,2016,1,1
...,...,...,...,...,...,...,...,...,...
51523,2021-11-16T19:00:00.0000000Z,60059.726999,60597.937655,59860.620778,60178.925251,2021-11-16,2021,11,16
51524,2021-11-16T20:00:00.0000000Z,60247.873827,60247.873827,59244.540198,59616.827192,2021-11-16,2021,11,16
51525,2021-11-16T21:00:00.0000000Z,59659.826591,60925.977184,59659.826591,60474.688983,2021-11-16,2021,11,16
51526,2021-11-16T22:00:00.0000000Z,60507.270616,61053.389239,60487.196472,60622.955735,2021-11-16,2021,11,16
51527,2021-11-16T23:00:00.0000000Z,60623.400668,60649.795288,60140.947374,60140.947374,2021-11-16,2021,11,16