In [210]:
import pandas as pd
import numpy as np

In [211]:
df = pd.read_csv('../Data/tweets/elon_archive.csv')

In [212]:
keep = ['date','time','username','name','tweet']
for i in df.keys():
    if i not in keep:
        df = df.drop(columns=[i])
        
year = []
month = []
day = []
        
df.drop(df.loc[df['date']=='date'].index, inplace=True)

for i in df.index:
    date = df['date'][i]
    date = date.split('-')
    year.append(int(date[0]))
    month.append(int(date[1]))
    day.append(int(date[2]))
    
df['month'] = month
df['year'] = year
df['day'] = day
    
    
hour = []
minute = []
second = []

for i in df.index:
    time = df['time'][i]
    time = time.split(':')
    hour.append(int(time[0]))
    minute.append(int(time[1]))
    second.append(int(time[2]))
    
df['hour'] = hour
df['minute'] = minute
df['second'] = second

In [205]:
# Crypto Currency related tweets
# get = df[["tweet"]]
# get = np.array(get)
# what_we_need = []

# for i in get:
#     for data in i:
#         split = data.split(" ")
#         if data.lower().count("doge") > 0 or data.lower().count("bitcoin") > 0  or data.lower().count("btc") or data.lower().count("crypto"):
#             what_we_need.append(data)
#         else:
#             what_we_need.append("NAN")


# df

In [213]:
df.query('date == "2021-05-07"') # SNL TWEET

,date,time,username,name,tweet,month,year,day,hour,minute,second
1415,2021-05-07,20:22:52,elonmusk,Elon Musk,Cybertruck prototype in New York this weekend,5,2021,7,20,22,52
1416,2021-05-07,18:23:12,elonmusk,Elon Musk,@EvaFoxU ü§£ü§£,5,2021,7,18,23,12
1417,2021-05-07,16:11:45,elonmusk,Elon Musk,@OwenSparks_ Until Sunday,5,2021,7,16,11,45
1418,2021-05-07,16:05:35,elonmusk,Elon Musk,Guest starring ‚Ä¶ https://t.co/buM3bTOWbX,5,2021,7,16,5,35
1419,2021-05-07,15:57:52,elonmusk,Elon Musk,https://t.co/DlQtmfjKqL,5,2021,7,15,57,52

In [214]:
df

,date,time,username,name,tweet,month,year,day,hour,minute,second
0,2021-11-14,17:48:31,elonmusk,Elon Musk,@ConsumerReports üëç,11,2021,14,17,48,31
1,2021-11-14,15:35:40,elonmusk,Elon Musk,@WholeMarsBlog Exactly,11,2021,14,15,35,40
2,2021-11-14,15:33:04,elonmusk,Elon Musk,@realTylerZed @SenSanders ü§£,11,2021,14,15,33,4
3,2021-11-14,09:24:02,elonmusk,Elon Musk,"@SenSanders Want me to sell more stock, Bernie...",11,2021,14,9,24,2
4,2021-11-14,08:39:18,elonmusk,Elon Musk,"@fermatslibrary Soon, that list will grow much...",11,2021,14,8,39,18
...,...,...,...,...,...,...,...,...,...,...,...
11924,2011-12-03,02:22:07,elonmusk,Elon Musk,That was a total non sequitur btw,12,2011,3,2,22,7
11925,2011-12-03,02:20:28,elonmusk,Elon Musk,"Great Voltaire quote, arguably better than Twa...",12,2011,3,2,20,28
11926,2011-12-01,04:29:04,elonmusk,Elon Musk,I made the volume on the Model S http://t.co/...,12,2011,1,4,29,4
11927,2011-12-01,03:55:11,elonmusk,Elon Musk,Went to Iceland on Sat to ride bumper cars on ...,12,2011,1,3,55,11
11928,2010-06-04,13:31:57,elonmusk,Elon Musk,"Please ignore prior tweets, as that was someon...",6,2010,4,13,31,57